

/* ==========================================================================
   Header Tags (Navigation bar and other stuff)
   ========================================================================== */



/*
.headerimage {
    width: 1271px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#frc-txt {
    color: #0066FF;
    font-weight: 900;
    font-style:italic;
    letter-spacing:2px
}
*/



.popup {
    top: 7.5%;
    left: 20%;
    right: 20%;
    margin-right: auto;
    position: fixed;
    z-index: 999;
    text-align: center;

}
#Google-Chrome-Frame-Hint {
    font-style: italic;
    font-size: 75%;
}

.body-container { /*The Body Container must have 15px of seperation between the seperate containers*/
    max-width: 1271px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -moz-box-shadow: 0 0 35px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 35px rgba(0,0,0,.4);
    box-shadow: 0 0 35px rgba(0,0,0,.4);
    z-index: 200;
    margin-top: 15px;
    background: white;
}

.top-container {
    padding-top: 47px;
}

/********************************************************************
*    FRONT PAGE ONLY
*
*   Only Items that can be found on the front page
*********************************************************************/

.wowslider-container1 {
    margin-top: 32px;
}


a:visited {
    color:  inherit;
}

#eastlake-logo {
    max-height: 350px;
    padding-top: 0px;
    margin-right: 0px;
    margin-left: -15px;
    float: left;
}


@media (max-width: 695px) {
  #eastlake-logo {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}



/*
@media (min-width: 497px) {
  #eastlake-logo {
    padding-right: 0px;
  }
}
*/

#Live-Stream{
    margin-left: auto;
    margin-right: auto;
    height: 437px; 
    width: 720px;
    display: block;
    z-index: 0;
    -webkit-box-shadow: 0 0 35px rgba(0,0,0,.4);
    box-shadow: 0 0 35px rgba(0,0,0,.4);
}

.live-stream-container {
    display: block;
    text-align: center;
    padding-bottom: 30px;
    background: url('/img/shadow-up.png') no-repeat scroll center bottom transparent;
}

#stream-buttons {
    margin-left: auto;
    margin-right: auto;
    background: white;
    margin-top: 20px;
}

.event-link {
    color: black;
    font-weight: 800;
}
.event-link:hover {
    color: black;

}
.event-times {
    font-size: x-large;
}

.addthisevent {
    margin-right: 5px;
}

.go-to-scores {
    display: inline-block;
    position: relative;
    font-family: arial;
    color: #333!important;
    background: #f4f4f4;
    text-decoration: none!important;
    border: 1px solid #d9d9d9;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 9px 12px 8px 11px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    float: left;
    margin-left: 5px;
}
.go-to-scores:hover {
    border: 1px solid #aab9d4;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none!important;
}

.go-to-scores:active {
top: 1px;
}
.go-to-stream {
    display: inline-block;
    position: relative;
    font-family: arial;
    color: #333!important;
    background: #f4f4f4;
    text-decoration: none!important;
    border: 1px solid #d9d9d9;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 9px 12px 8px 11px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    float: right;
    margin-right: 5px
}
.go-to-stream:hover {
    border: 1px solid #aab9d4;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none!important;
}

.go-to-stream:active {
    top: 1px;
}

hr.footer-seperator {
    width: 100%;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}


/********************************************************************
    Everything Else

*********************************************************************/

.calendar-container { 
   position: relative; /* keeps the aspect ratio */ 
   padding-bottom: 50%; /* fine tunes the video positioning */ 
   margin-top: 10px;
   margin-left: 25px;
   margin-right: 25px;
   padding-top: 60px; overflow: hidden;
}

.calendar-container iframe,
.calendar-container object,
.calendar-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/********************************************************************
    FOOTER SPONSERS

All sponser logos have ideas that go as follows "sponser-SPONSERNAME"
*********************************************************************/

#sponser-title {
    font-weight: bolder;
    font-size: x-large;
}

#sponser-boeing {    
    max-width: 360px;
    padding-top: 40px;
    min-width: 5px;
}
@media (max-width: 350px) {
    #sponser-boeing {
        max-width: 250px;
    }
}


#sponser-SAE {
    max-height: 200px;
}
#sponser-orora {
    
}

@media (min-width: 992px) {
  #sponser-orora {
    padding-top: 40px;
  }
}


.footer-links {
    color: black!important;
    text-align: center;
    margin-top: 10px;
    
}

.footer-links:hover {
    color: black!important;
    text-align: center;
}