

/* ==========================================================================
   Header Tags (Navigation bar and other stuff)
   ========================================================================== */

.body-container#top {
    margin-top: 50px;
}

/*
.headerimage {
    width: 1271px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#frc-txt {
    color: #0066FF;
    font-weight: 900;
    font-style:italic;
    letter-spacing:2px
}
*/

#eastlake-logo {
    max-height: 350px;
    padding-top: 10px;
    margin-right: 25px;
    margin-left: -15px;
    float: left;
}

.popup {
    top: 7.5%;
    left: 20%;
    right: 20%;
    margin-right: auto;
    position: fixed;
    z-index: 999;
    text-align: center;

}
#Google-Chrome-Frame-Hint {
    font-style: italic;
    font-size: 75%;
}

.body-container { /*The Body Container must have 15px of seperation between the seperate containers*/
    max-width: 1271px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -moz-box-shadow: 0 0 35px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 35px rgba(0,0,0,.4);
    box-shadow: 0 0 35px rgba(0,0,0,.4);
    z-index: 200;
    margin-top: 15px;
    background: white;
}

/********************************************************************
*    FRONT PAGE ONLY
*
*   Only Items that can be found on the front page
*********************************************************************/

#Live-Stream{
    margin-left: auto;
    margin-right: auto;
    height: 437px; 
    width: 720px;
    display: block;
    padding-bottom: 20px;
    z-index: 0;
}

.live-stream-container {
    display: block;
    text-align: center;
    padding-bottom: 40px;
    background: url('http://minecraftgame.net/resources/shadow-up.png') no-repeat scroll center bottom transparent;
}

.event-link {
    color: black;
    font-weight: 800;
}
.event-link:hover {
    color: black;

}
.event-times {
    font-size: x-large;
}

.go-to-scores {
    display: inline-block;
    position: relative;
    font-family: arial;
    color: #333!important;
    background: #f4f4f4;
    text-decoration: none!important;
    border: 1px solid #d9d9d9;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 9px 12px 8px 11px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-left: 5px;
}
.go-to-scores:hover {
    border: 1px solid #aab9d4;
    color: #555;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none!important;
}

.go-to-scores:active {
top: 1px;
}

/********************************************************************
    FOOTER SPONSERS

All sponser logos have ideas that go as follows "sponser.SPONSERNAME"
*********************************************************************/
#donate-btn {
    float: right;
    margin-top: -50px;
}
#sponser-title {
    font-weight: bolder;
    font-size: x-large;
}

#sponser-boeing {    
    max-width: 100%;
    padding-top: 40px;
    min-width: 5px;
}

#sponser-SAE {
    max-height: 200px;
}
#sponser-orora {
}
@media (min-width: 992px) {
  #sponser-orora {
    padding-top: 40px;
  }
}