Order deny,allow
ExpiresActive on
ExpiresDefault M86400
ErrorDocument 403 /403.html
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html
DirectoryIndex index.php

# "-Indexes" will have Apache block users from browsing folders without a default document
# Usually you should leave this activated, because you shouldn't allow everybody to surf through
# every folder on your server (which includes rather private places like CMS system folders).
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>


# Block access to "hidden" directories whose names begin with a period. This
# includes directories used by version control systems such as Subversion or Git.
<IfModule mod_rewrite.c>
  RewriteCond %{SCRIPT_FILENAME} -d
  RewriteCond %{SCRIPT_FILENAME} -f
  RewriteRule "(^|/)\." - [F]
</IfModule>


# Block access to backup and source files
# This files may be left by some text/html editors and
# pose a great security danger, when someone can access them
# We also need to block access to the .htaccess file so it can't be viewed from the web
<FilesMatch "(\.(bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist|wowsl|htaccess)|~)$">
  Order allow,deny
  Deny from all
  Satisfy All
</FilesMatch>

# Lets use gzip compression!
# compress certain file types by extension:
<FilesMatch "(\.(txt|html|xml|css|xml|xhtml|js|less|php|eot|svg|ttf|woff)|~)$">
    SetOutputFilter DEFLATE
</FilesMatch>