.body-container { /*The Body Container must have 30px of seperation between the seperate containers*/
    max-width: 1271px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-bottom: 10px;
    position: relative;
    -moz-box-shadow: 0 0 35px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 35px rgba(0,0,0,.4);
    box-shadow: 0 0 35px rgba(0,0,0,.4);
    z-index: 200;
    background: white;
}

.top-container {
    margin-top:60px;
}